*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, black, white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer > .inner{
    height: 500px;
    width: 500px;
    border-radius: 4%;
    position: relative;
    background-image: linear-gradient(to right, blue, white);
}

#b1{
    height: 100px;
    width: 100px;
    margin: 4px;
    border: 2px solid black;
    background-color: aqua;
    position: absolute;
    z-index: 1;
    left: 10px;
  
}


#b2{
    height: 100px;
    width: 100px;
    margin: 4px;
    border: 2px solid black;
    background-color: brown;
    position: absolute;
    z-index: 2;
    left: 30px;
}


#b3{
    height: 100px;
    width: 100px;
    margin: 4px;
    border: 2px solid black;
    background-color: red;
    position: absolute;
    z-index: 3;
    left: 50px;
}


#b4{
    height: 100px;
    width: 100px;
    margin: 4px;
    border: 2px solid black;
    background-color: blueviolet;
    position: absolute;
    z-index: 4;
    left: 70px;
}
